{% extends "index.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3>Она живая! Живая!</h3>
    <p>
        Добро пожаловать на главную страницу вашего <b>Nirvana</b>-проекта! Пока оно не большое, и состоит
        всег из 2-х страниц (главной и страницы обновления БД).
    </p>

    <p>
        Отредактируйте файлы настроек, добавтьте контроллеры и модели (сущности) чтобы получить необходимый вам
        функционал.
    </p>
    
    <p>
        Для начального ознакомления с фреймворком прочтите Wiki на GitHub:
        <a target="_blank" href="https://github.com/alexismaster/nirvana/wiki">https://github.com/alexismaster/nirvana/wiki</a>
    </p>

    <p>
        Желающие помочь в развитии фреймворка могут так же ознакомиться с документацией по API на официальной
        странице фреймворка:
        <a target="_blank" href="http://nirvana.alexismaster.ru/doc/index.html">http://nirvana.alexismaster.ru/doc/index.html</a>
    </p>

{% endblock %}