{% extends "index.twig" %}

{% block title %}ORM update{% endblock %}

{% block content %}
    <h3>Обновление структуры таблиц</h3>
    <pre>{% if content|length < 1 %}Нет различий между классами моделей и БД{% endif %}{{ content | raw }}</pre>
{% endblock %}