{# Страница редактирования поста #}

{% extends "post/add.twig" %}


{% block title %}Редактирование поста{% endblock %}
{% block h1 %}Редактирование поста{% endblock %}


{% block form %}
    {% if values|length %}
        {{ parent() }}  {# Наследуем форму из базового шаблона #}
    {% else %}
        <h2 style="color: #8b0000;">404 - Post Not Found</h2>
        <img src="/404.jpg" alt="404.jpg">
    {% endif %}
{% endblock %}