
html, body {
    background: #f7f7f7;
    font-size: 16px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.7;
}

h3 {
    color: #666;
    color: #669900;
}

pre {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    background: #333;
    color: #eee;
    padding: 10px;
}


#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
}


.nav_bar {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
}

    .nav_bar li {
        padding: 10px;
        float: left;
    }

    .nav_bar:after {
        content: '';
        display: block;
        clear: both;
    }

    .nav_bar li.brand a {
        text-decoration: none;
        color: #333;
        color: #3399CC;
        font-weight: bold;
        font-size: 18px;
        padding-right: 20px;
        padding-left: 40px;
        background: url("/favicon.png") no-repeat left -7px;
    }

    .nav_bar li.active {
        background: #3399CC;
        border-radius: 4px;
    }

    .nav_bar li.active a {
        color: #eee;
        text-decoration: none;
    }