{# Шаблон страницы #}
<!DOCTYPE html>
<html>
<head>
    {% block meta %}{% endblock %}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-favicon.png"/>

    {% block head %}
        <title>{% block title %}{% endblock %} - Nirvana</title>
        <link rel="stylesheet" href="/index.css">
    {% endblock %}
</head>
<body>
<div id="wrapper">

        {# Панель навигации #}
        {% include 'nav_bar.twig' %}

        <div id="content">{% block content %}{% endblock %}</div>
    </div>

    <script type="text/javascript">
        // Выделение активной ссылки в меню
        (function () {
            var links = document.querySelectorAll('.nav_bar [href="'+location.pathname+'"'),
                count = links.length, item;

            while (count--) if ((item = links[count].parentNode).className !== 'brand') {
                item.className = 'active';
            }
        })();
    </script>

</body>
</html>