{# ГЛАВНОЕ МЕНЮ #}


<ul class="nav_bar">
    <li class="brand"><a href="/">Nirvana</a></li>
    <li><a href="/">Главная</a></li>
    <li><a href="/orm-update/">Обновление структуры таблиц БД</a></li>
</ul>
