{% extends "index.twig" %}


{% block title %}Регистрация завершена{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <p><br></p>

    <p>
        Поздравляем с успешной регистрацией. Теперь Вы можете <a href="/login/">авторизироваться</a> в системе
        используя указанные при регистрации логин (email) и пароль.
    </p>

{% endblock %}