

{% extends "index.twig" %}


{% block title %}Удаление комментария{% endblock %}

{% block content %}
    <h1>{% block h1 %}Удаление комментария{% endblock %}</h1>
    <p><br></p>
    {% if success %}
        Комментарий удалён.
    {% else %}
        Комментарий не может быть удалё, т.к. на него ссылаются другие комментарии.
    {% endif %}

    {% block meta %}<meta http-equiv="refresh" content="3; url={{ url }}" />{% endblock %}
{% endblock %}